body{
    background-color: green;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.Signup-page
{
width:360px;
height:600px;
background-color: white;
margin:auto;
border-radius: 5px;
}
.Login-page
{
width:360px;
height:290px;
background-color: white;
margin:auto;
border-radius: 5px;
}
h1{
    text-align: center;
    margin-top: 15px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 15px;
    font-size: 18px;
}
input{
    width:300px;
    padding: 7px;
    border: none;
    border: 2px solid greenyellow;
    border-radius: 5px;
    outline: none;
}
input[type="button"]
{
    width:320px;
    height:35px;
    margin-top: 20px;
    border:none;
    background-color: greenyellow;
    color: white;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.Already
{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.Already a{
    color:greenyellow ;
}